body{
    max-width: 1270px;
    background-color: blueviolet;
    margin: 0 auto;
}
.hero-container{
    display: flex;
    background-color: lightgreen;
    padding: 25px;
    gap: 40px;
    font-size: 1.5em;
    align-items: center;
    justify-content: center;
    border-radius: 25px;

}
.hero-container button{
    background-color: lightskyblue;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;

}
.hero-container button:hover{
    color: white;
    background-color: lightseagreen;
}
.hero-container img{
    width: 100%;
    height: 400px;
    border-radius: 25px;
}
