nav li{
    list-style: none;
    display: inline;
    margin-right: 15px;
    padding: 10px;
    border-radius: 10px;

}
nav li:hover{
    background-color: blueviolet;
    color: rgb(255, 255, 255);
    
    
}
nav li a{
    text-decoration: none;
    color: black;


}
nav li a :hover{
    color: white;
}
footer{
    text-align: center;
}
figure{
    align-items: center;
}
